.header {
	width: 100%;
	padding: 30px 15vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #444;

	h1 {
		font: 900 2rem/1 'amiri';
		letter-spacing: 1px;

		a {
			color: #888;
		}
	}

	nav {
		display: flex;
		align-items: center;
		gap: 70px;
		justify-content: space-between;
		background-color: #444;

		.gnb {
			display: flex;
			gap: 50px;
			font: 600 0.8rem/1 'raleway';
			color: #888;

			li {
				position: relative;
				display: inline-block;
				transition: transform 0.3s ease;
				transform-origin: bottom center;

				&.on {
					transform: scale(1.4);
					color: rgba(var(--keyRGB), 1);
				}
			}
		}

		.sns {
			display: flex;
			font-size: 1rem;
			color: #888;
			gap: 10px;
		}
	}

	.btnMobile {
		cursor: pointer;
		font-size: 1rem;
		display: none;
	}

	&.main {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 6;
		border-bottom: none;
	}
}

// 반응형 미디어 쿼리
@media screen and (max-width: 768px) {
	.header {
		nav {
			display: none;
		}
		.btnMobile {
			display: block;
		}
	}
}