main {
	width: 100%;
	min-height: 80vh;
	padding: 10vh 10vw;
	& > h2 {
		font: normal 7rem/1 'arial';
		color: #555;
		margin-bottom: 60px;
		margin-left: 20vh;
	}
}

//main페이지 전용 스타일
main.main {
	width: 100%;
	padding: 0px;
}
 



